In [50]:
# Install missing packages to kernel.

! pip install pandas
! pip install striprtf
! pip install scikit-learn

Requirement already satisfied: pandas in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adamj\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\adamj\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: striprtf in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (0.0.26)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\adamj\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [73]:
# Imports

import pandas as pd # type: ignore
pd.options.display.max_colwidth = None
from striprtf.striprtf import rtf_to_text # type: ignore
from io import StringIO
from sklearn.feature_extraction.text import CountVectorizer # type: ignore
from io import StringIO

# CSDS-435: Project #2
# Adam Brennan and Charlie Song

### Reading in the HealthNewsTweets.rtf file...

In [44]:
def read_health_news_tweets_rtf():
    with open('HealthNewsTweets.rtf', 'r') as rtf_file:
        rtf_file_content = rtf_file.read()

    rtf_file_text = rtf_to_text(rtf_file_content)
    rtf_file_stringio = StringIO(rtf_file_text)

    df = pd.read_csv(rtf_file_stringio, sep='\t')

    row = pd.DataFrame({df.columns[0]: [df.columns[0]]})
    df = pd.concat([row, df], ignore_index=True)
    df.columns = ['tweet']

    return df

In [60]:
def get_bag_of_words_matrix(tweets):
    vectorizer = CountVectorizer()
    bag_of_words = vectorizer.fit_transform(tweets)
    bag_of_words_matrix = pd.DataFrame(bag_of_words.toarray(), columns = vectorizer.get_feature_names_out())
    return bag_of_words_matrix

In [ ]:
df = read_health_news_tweets_rtf()

df

                                                   tweet
0      Girl gets facial deformity fixed thanks to ano...
1      Push for cleaner stoves in poor countries to c...
2      Toilets on wheels help keep San Francisco neig...
3      Watch: @DrRichardBesser interviews @BarackObam...
4      #Obama says #ClimateChange's impact on #health...
...                                                  ...
58922  What are the hottest natural food trends? Hint...
58923  Seeing Sons Violent Potential, but Finding Lit...
58924           Nickelodeon Resists Critics of Food Ads
58925  RT @anrao: @KHNews I'll be live tweeting from ...
58926  RT @MixedADOBO: @EverydayHealth A1 Refrain fro...

[58927 rows x 1 columns]

In [63]:
tweets = df['tweet'].tolist()

bag_of_words_matrix = get_bag_of_words_matrix(tweets)

bag_of_words_matrix

,00,000,000th,000x,007,00am,019,02,020,03,...,zucker,zuckerberg,zumba,zushaelinson,zydelig,zyprexa,zzz,zzzs,zzzzz,zzzzzs
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58924,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58925,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58926,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
bag_of_words_matrix.loc[bag_of_words_matrix['biden'] > 0]

,00,000,000th,000x,007,00am,019,02,020,03,...,zucker,zuckerberg,zumba,zushaelinson,zydelig,zyprexa,zzz,zzzs,zzzzz,zzzzzs
25042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29786,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35737,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46552,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57534,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
pd.options.display.max_colwidth = None
print(str(df.iloc[25042]))

tweet    VP debate: Ryan says facing Biden is 'a nervous situation'
Name: 25042, dtype: object